/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@600&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

:root {
   --background-color: rgb(241, 246, 247);
    --navbar-color: rgb(255, 255, 255);
    --light-dark-font-color: rgb(51, 50, 50);
    --closing-color: rgb(245, 41, 41);
}

/* --------------------------------- GLOBAL STYLES ------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color) !important;
}

/* ------------------------------- BASICS ------------------------ */
.disabled_change_cursor {
    cursor: not-allowed;
}

.closing:hover {
  color: var(--closing-color)
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cursor_pointer {
  cursor: pointer;
}

.flex_middle {
    display: flex;
  align-items: center;
  justify-content: center;
}